%ul.nav.justify-content-center
  - if controller_name != 'sessions'
    %li.nav-item= link_to("Sign In", new_session_path(resource_name), class: "nav-link")
  - if devise_mapping.registerable? && controller_name != 'registrations'
    %li.nav-item= link_to("Sign up", new_registration_path(resource_name), class: "nav-link")
  %li.nav-item= link_to(t(".download"), root_url, class: "nav-link disabled")
